<div>
    <h2 id="page-heading">
        <span>Campaign Sellers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campaign-seller-sales-ben" [routerLink]="['/campaign-seller-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campaign Seller
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campaignSellers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="campaignId"><span>Campaign</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellerId"><span>Seller</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignSeller of campaignSellers ;trackBy: trackId">
                <td><a [routerLink]="['/campaign-seller-sales-ben', campaignSeller.id, 'view' ]">{{campaignSeller.id}}</a></td>
                <td>
                    <div *ngIf="campaignSeller.campaignId">
                        <a [routerLink]="['../campaign-sales-ben', campaignSeller.campaignId , 'view' ]" >{{campaignSeller.campaignId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignSeller.sellerId">
                        <a [routerLink]="['../seller-sales-ben', campaignSeller.sellerId , 'view' ]" >{{campaignSeller.sellerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campaign-seller-sales-ben', campaignSeller.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign-seller-sales-ben', campaignSeller.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campaign-seller-sales-ben', { outlets: { popup: campaignSeller.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignSellers && campaignSellers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
