<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaignSeller">
            <h2><span>Campaign Seller</span> {{campaignSeller.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Campaign</span></dt>
                <dd>
                    <div *ngIf="campaignSeller.campaignId">
                        <a [routerLink]="['/campaign-sales-ben', campaignSeller.campaignId, 'view']">{{campaignSeller.campaignId}}</a>
                    </div>
                </dd>
                <dt><span>Seller</span></dt>
                <dd>
                    <div *ngIf="campaignSeller.sellerId">
                        <a [routerLink]="['/seller-sales-ben', campaignSeller.sellerId, 'view']">{{campaignSeller.sellerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign-seller-sales-ben', campaignSeller.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
