<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-campaign-seller-sales-ben-heading">Create or edit a Campaign Seller</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!campaignSeller.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="campaignSeller.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_campaign">Campaign</label>
                    <select class="form-control" id="field_campaign" name="campaign" [(ngModel)]="campaignSeller.campaignId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="campaignOption.id" *ngFor="let campaignOption of campaigns; trackBy: trackCampaignById">{{campaignOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seller">Seller</label>
                    <select class="form-control" id="field_seller" name="seller" [(ngModel)]="campaignSeller.sellerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sellerOption.id" *ngFor="let sellerOption of sellers; trackBy: trackSellerById">{{sellerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
