<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sellerSupplierRelation">
            <h2><span>Seller Supplier Relation</span> {{sellerSupplierRelation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Supplier</span></dt>
                <dd>
                    <div *ngIf="sellerSupplierRelation.supplierId">
                        <a [routerLink]="['/supplier-sales-ben', sellerSupplierRelation.supplierId, 'view']">{{sellerSupplierRelation.supplierId}}</a>
                    </div>
                </dd>
                <dt><span>Seller</span></dt>
                <dd>
                    <div *ngIf="sellerSupplierRelation.sellerId">
                        <a [routerLink]="['/seller-sales-ben', sellerSupplierRelation.sellerId, 'view']">{{sellerSupplierRelation.sellerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seller-supplier-relation-sales-ben', sellerSupplierRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
