<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="seller">
            <h2><span>Seller</span> {{seller.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{seller.isActive}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{seller.description}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{seller.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seller-sales-ben', seller.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
