<div ngbDropdown>
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
       id="notifications-menu">
                    <span>
                        <fa-icon [icon]="'bell'"></fa-icon>
                        <span>Notificari</span>
                        <span class="badge badge-light"
                              *ngIf="userNotificationWebsocketService.unreadNotificationsCounter != null &&
                                     userNotificationWebsocketService.unreadNotificationsCounter != 0">
                            {{userNotificationWebsocketService.unreadNotificationsCounter}}
                        </span>
                    </span>
    </a>
    <ul class="dropdown-menu"
        ngbDropdownMenu
        *ngIf="userNotificationWebsocketService.notifications != null &&
               userNotificationWebsocketService.notifications.length != 0">

        <li *ngFor="let notification of userNotificationWebsocketService.notifications"
            (click)="notificationClick(notification)">
            <a class="dropdown-item textBreak"
               [ngClass]="notification.hasBeenRead ? '' : 'bg-info text-white'">
                <span style="font-size: large;"><b>{{notification.type}}</b><br/></span>
                <span style="font-size: medium ;"><b>{{notification.title}}</b></span>
                <div style="font-size: small;">
                    {{trimDescription(notification.description)}}
                </div>
            </a>
        </li>

        <hr/>
        <li>
            <a *ngIf="userNotificationWebsocketService.notifications != null &&
                      userNotificationWebsocketService.notifications.length != 0"
               class="dropdown-item textBreak"
               [routerLink]="['/user-notification']">
                See all
            </a>
        </li>
    </ul>
</div>
