<div>
    <h2 id="page-heading">
        <span>Notifications</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th><span>Type</span></th>
                <th><span>Title</span></th>
                <th><span>Description</span></th>
                <th><span>Create Date</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notification of notifications"
                [ngClass]="notification.hasBeenRead ? '' : 'bg-info text-white'"
                (click)="notificationClick(notification)">
                <td>{{notification.type}}</td>
                <td>{{notification.title}}</td>
                <td>{{trimDescription(notification.description)}}</td>
                <td>{{notification.createDate | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="notifications &&
                notifications.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Inapoi </span>
        </button>
    </div>
</div>
