<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span>Notification</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{notification.type}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{notification.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{notification.description}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{notification.createDate | date:'medium'}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Inapoi </span>
            </button>
        </div>
    </div>
</div>
