<div>
    <h2 id="page-heading">
        <span>Seller Cities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-seller-city-sales-ben" [routerLink]="['/seller-city-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Seller City
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sellerCities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Seller</span></th>
            <th><span>City</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sellerCity of sellerCities ;trackBy: trackId">
                <td><a [routerLink]="['/seller-city-sales-ben', sellerCity.id, 'view' ]">{{sellerCity.id}}</a></td>
                <td>
                    <div *ngIf="sellerCity.sellerId">
                        <a [routerLink]="['../seller-sales-ben', sellerCity.sellerId , 'view' ]" >{{sellerCity.sellerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sellerCity.cityId">
                        <a [routerLink]="['../city-sales-ben', sellerCity.cityId , 'view' ]" >{{sellerCity.cityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/seller-city-sales-ben', sellerCity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/seller-city-sales-ben', sellerCity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'seller-city-sales-ben', { outlets: { popup: sellerCity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
