<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sellerCity">
            <h2><span>Seller City</span> {{sellerCity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Seller</span></dt>
                <dd>
                    <div *ngIf="sellerCity.sellerId">
                        <a [routerLink]="['/seller-sales-ben', sellerCity.sellerId, 'view']">{{sellerCity.sellerId}}</a>
                    </div>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <div *ngIf="sellerCity.cityId">
                        <a [routerLink]="['/city-sales-ben', sellerCity.cityId, 'view']">{{sellerCity.cityId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seller-city-sales-ben', sellerCity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
