<div>
    <h2 id="page-heading">
        <span>Suppliers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supplier-sales-ben" [routerLink]="['/supplier-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Supplier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="suppliers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Company Name</span></th>
            <th><span>Company Code</span></th>
            <th><span>Description</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplier of suppliers ;trackBy: trackId">
                <td><a [routerLink]="['/supplier-sales-ben', supplier.id, 'view' ]">{{supplier.id}}</a></td>
                <td>{{supplier.companyName}}</td>
                <td>{{supplier.companyCode}}</td>
                <td>{{supplier.description}}</td>
                <td>
                    {{supplier.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supplier-sales-ben', supplier.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supplier-sales-ben', supplier.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'supplier-sales-ben', { outlets: { popup: supplier.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
