<div>
    <h2 id="page-heading">
        <span>Campaign Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campaign-product-sales-ben" [routerLink]="['/campaign-product-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campaign Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campaignProducts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span>Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span>Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discount"><span>Discount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="campaignId"><span>Campaign</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productId"><span>Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignProduct of campaignProducts ;trackBy: trackId">
                <td><a [routerLink]="['/campaign-product-sales-ben', campaignProduct.id, 'view' ]">{{campaignProduct.id}}</a></td>
                <td>{{campaignProduct.price}}</td>
                <td>{{campaignProduct.isActive}}</td>
                <td>{{campaignProduct.discount}}</td>
                <td>
                    <div *ngIf="campaignProduct.campaignId">
                        <a [routerLink]="['../campaign-sales-ben', campaignProduct.campaignId , 'view' ]" >{{campaignProduct.campaignId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignProduct.productId">
                        <a [routerLink]="['../product-sales-ben', campaignProduct.productId , 'view' ]" >{{campaignProduct.productId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campaign-product-sales-ben', campaignProduct.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign-product-sales-ben', campaignProduct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campaign-product-sales-ben', { outlets: { popup: campaignProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignProducts && campaignProducts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
