input[type='text'],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type='text']:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.filterLine {
    min-height: 50px;
    padding-bottom: 10px;
}

.paddingLeft {
    padding-left: 7px;
}

.move-left {
    width: auto;
    box-shadow: none;
}

.searchIcon {
    padding-left: 15px;
}
.custom-checkbox {
    border-width: 0px;
}
