<div class="row">
    <div *ngIf="searchFilter" class="col-xs-1 paddingLeft">
        <table-filter-search
                             [filterModel]="searchFilter"
                             (filterChangedEmitter)="filterValueChanged($event)"></table-filter-search>
    </div>
    <ng-container *ngIf="filterArray.length > 0">
        <div class="col-xs-1">
            <div ngbDropdown class="d-inline-block filterLine paddingLeft" autoClose="outside">
                <a class="dropdown-toggle paddingLeft" id="filterDropdown" ngbDropdownToggle>
                    <fa-icon icon="filter"></fa-icon>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                    <div *ngFor="let filterCheckboxes of filterArray"
                         class="custom-control form-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [id]="filterCheckboxes.name"
                               [(ngModel)]="filterCheckboxes.checked" (ngModelChange)="filterChecked(filterCheckboxes)">
                        <label class="custom-control-label" [for]="filterCheckboxes.name">{{filterCheckboxes.placeholder}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let filter of filterArray" class="col-xs-1 filterLine paddingLeft">
            <table-filter-date-range *ngIf="filterTypeEnum.Date === filter.type && filter.checked"
                                     [filterModel]="filter"
                                     (filterChangedEmitter)="filterValueChanged($event)"></table-filter-date-range>
            <table-filter-number-range *ngIf="filterTypeEnum.Number === filter.type && filter.checked"
                                       [filterModel]="filter"
                                       (filterChangedEmitter)="filterValueChanged($event)"></table-filter-number-range>
            <table-filter-text *ngIf="filterTypeEnum.Text === filter.type && filter.checked" [filterModel]="filter"
                               (filterChangedEmitter)="filterValueChanged($event)"></table-filter-text>
            <table-filter-checkbox *ngIf="filterTypeEnum.Checkbox === filter.type && filter.checked" [filterModel]="filter"
                               (filterChangedEmitter)="filterValueChanged($event)"></table-filter-checkbox>
        </div>
    </ng-container>
    <div class="col-xs-7"></div>
</div>
