<div class="row paddingLeft">
    <div class="col-xs-1">
        <a class="filterLine searchIcon" id="searchIcon">
            <fa-icon icon="search" size="lg" (click)="toggleSearch()"></fa-icon>
        </a>
    </div>
    <div class="col-xs-3">
        <input *ngIf="isSearching" type="text" class="form-control form-control-sm"
               [placeholder]="filterModel.placeholder"
               [ngbTooltip]="filterModel.tooltip"
               name="filterSearch" id="filterSearch" aria-labelledby="searchIcon" [(ngModel)]="filterModel.props.value"
               (ngModelChange)="modelChanged(getModelChangedCallback)" (keyup.enter)="enterPressed(getModelChangedCallback)"/>
    </div>
</div>
