<form role="form" class='form-inline'>
    <div class="form-group">
        <div class="form-inline">
            <input class="form-control" type="number" id="from" [ngbTooltip]="tooltipFrom" name="from"
                   [(ngModel)]="filterModel.props.from" min="0" [max]="filterModel.props.to" (ngModelChange)="modelChanged(getModelChangedCallback)"
                   (keyup.enter)="enterPressed(getModelChangedCallback)">
        </div>
        <div class="form-inline">
            <span>&nbsp;-&nbsp;</span>
        </div>
        <div class="form-inline">
            <input class="form-control" type="number" id="to" [ngbTooltip]="tooltipTo" name="to" [(ngModel)]="filterModel.props.to"
                   [min]="filterModel.props.from" (ngModelChange)="modelChanged(getModelChangedCallback)"
                   (keyup.enter)="enterPressed(getModelChangedCallback)">
        </div>
    </div>
</form>
