<form class="form-inline filterLine paddingLeft">
    <div class="form-group">
        <div class="input-group filterLine">
            <input
                #myRangeInput
                class="form-control filterLine input-sm"
                [placeholder]="filterModel.placeholder"
                name="dp"
                [(ngModel)]="filterModel.props.value"
                ngbDatepicker
                [dayTemplate]="t"
                autoClose="outside"
                [displayMonths]="2"
                [maxDate]="maxDate"
                [minDate]="minDate"
                readonly
                #d="ngbDatepicker"
            >

            <ng-template #t let-date="date" let-focused="focused">
            <span class="custom-day"
                  [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (click)="onDateSelection(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
            >
            {{ date.day }}
            </span>
            </ng-template>
            <div class="input-group-append filterLine">
                <button class="btn btn-outline-secondary glyphicon glyphicon-calendar" (click)="d.toggle()" type="button" placement="top"
                        [ngbTooltip]="filterModel.tooltip">
                </button>
            </div>
        </div>
    </div>
</form>
