<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span>Notification</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{notification.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{notification.description}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{notification.type}}</span>
                </dd>
                <dt><span>Has Been Read</span></dt>
                <dd>
                    <span>{{notification.hasBeenRead}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{notification.createDate}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{notification.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification-sales-ben', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
