<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaign">
            <h2><span>Vizualizare campanie</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nume campanie</span></dt>
                <dd>
                    <span>{{campaign.campaignName}}</span>
                </dd>
                <dt><span>Activa de la</span></dt>
                <dd>
                    <span>{{campaign.fromDate}}</span>
                </dd>
                <dt><span>Activa pana la</span></dt>
                <dd>
                    <span>{{campaign.toDate}}</span>
                </dd>
                <dt><span>Descriere</span></dt>
                <dd>
                    <span>{{campaign.description}}</span>
                </dd>
                <dt><span>Produsele campaniei</span></dt>
                <dd>
                    <mat-chip-list [color]="accent">
                        <mat-chip *ngFor=" let campaignProduct of campaignProducts" class="camaign-product-chip">{{campaignProduct.productName}}</mat-chip>
                    </mat-chip-list>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign', campaign.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
