<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-sales-ben-heading">Editeaza produsul</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_productName">Nume produs</label>
                    <input type="text" class="form-control" name="name" id="field_productName"
                           [(ngModel)]="product.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.required">
                            Acest camp trebuie completat.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productCode">Cod produs</label>
                    <input type="text" class="form-control" name="code" id="field_productCode"
                           [(ngModel)]="product.code"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.required">
                            Acest camp trebuie completat.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Pret</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           [(ngModel)]="product.price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">
                        Descriere ({{255-(product.description ? product.description.length : 0)}} caractere ramase)
                    </label>
                    <textarea type="text" id="field_description"
                              class="form-control md-textarea" rows="4"
                              name="description" [(ngModel)]="product.description"
                              maxlength="255"></textarea>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Inchide</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salveaza</span>
                </button>
            </div>
        </form>
    </div>
</div>
