<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Vizualizare Produs</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nume Produs</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span>Cod Produs</span></dt>
                <dd>
                    <span>{{product.code}}</span>
                </dd>
                <dt><span>Pret</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span>Descriere</span></dt>
                <dd>
                    <span>{{product.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/supplier-product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
