<div>
    <h2 id="page-heading">
        <span>Produsele campaniei</span>
    </h2>
    <table-filter [inputFilterArray]="inputFilterArray"
                  (filterChangedEmitter)="filterChanged($event)">
    </table-filter>
    <div class="table-responsive" *ngIf="campaignProducts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span>Nume produs</span>
                </th>
                <th><span>Pret</span>
                </th>
                <th><span>Discount</span>
                </th>
                <th><span>In campanie</span>
                </th>
                <th><span>Descriere</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignProduct of campaignProducts ;trackBy: trackId"
                [ngClass]="{'table-success':hasCampaign(campaignProduct)}">
                <td>{{campaignProduct.productName}}</td>
                <td><input *ngIf="campaignProduct.isInEditMode" type="number" class="form-control"
                           [(ngModel)]="campaignProduct.price" [readonly]="!campaignProduct.isInEditMode"
                           value="campaignProduct.price">
                    <span *ngIf="!campaignProduct.isInEditMode">{{campaignProduct.price}}</span>
                </td>
                <td><input *ngIf="campaignProduct.isInEditMode" type="number" class="form-control"
                           [(ngModel)]="campaignProduct.discount"
                           value="campaignProduct.discount"
                           min="1" max="100">
                    <span *ngIf="!campaignProduct.isInEditMode">{{campaignProduct.discount}}</span>
                </td>
                <td><input type="checkbox" [checked]="hasCampaign(campaignProduct)" class="checkbox"
                           [disabled]="!campaignProduct.isInEditMode"
                           (change)="addProductInCampaign($event.target.checked, campaignProduct)"/>
                </td>
                <td>
                    <span>{{campaignProduct.productDescription}}</span>
                </td>
                <td>
                    <button *ngIf="!campaignProduct.isInEditMode" type="button"
                            class="btn btn-primary btn-sm" (click)="editProduct(campaignProduct)">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>
                    <button *ngIf="campaignProduct.isInEditMode" type="button"
                            class="btn btn-success btn-sm" (click)="saveProduct(campaignProduct)">
                        <fa-icon [icon]="'save'"></fa-icon>
                        <span class="d-none d-md-inline">Save</span>
                    </button>
                    <button *ngIf="campaignProduct.isInEditMode" type="button"
                            class="btn btn-danger btn-sm" (click)="cancelEditingCampaignProduct(campaignProduct)">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">Cancel</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignProducts && campaignProducts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div>
        <button type="button"
                [routerLink]="['/campaign', campaign.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Inapoi</span>
        </button>
    </div>
</div>
