<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sellerWalletBalance">
            <h2><span>Punctele tale</span></h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span>Puncte disponibile</span></dt>
                <dd>
                    <span class="available-amount">{{sellerWalletBalance.availableAmount}}</span>
                </dd>
                <dt><span>Puncte neconfirmate</span></dt>
                <dd>
                    <span class="pending-amount">{{sellerWalletBalance.inPendingAmount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

        </div>
    </div>
</div>
