<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <jhi-sales-benefit-alert></jhi-sales-benefit-alert>
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
