<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sellerCounty">
            <h2><span>Seller County</span> {{sellerCounty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Seller</span></dt>
                <dd>
                    <div *ngIf="sellerCounty.sellerId">
                        <a [routerLink]="['/seller-sales-ben', sellerCounty.sellerId, 'view']">{{sellerCounty.sellerId}}</a>
                    </div>
                </dd>
                <dt><span>County</span></dt>
                <dd>
                    <div *ngIf="sellerCounty.countyId">
                        <a [routerLink]="['/county-sales-ben', sellerCounty.countyId, 'view']">{{sellerCounty.countyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seller-county-sales-ben', sellerCounty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
