<div>
    <h2 id="page-heading">
        <span>Campaign Counties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campaign-county-sales-ben" [routerLink]="['/campaign-county-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campaign County
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campaignCounties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Campaign</span></th>
            <th><span>County</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignCounty of campaignCounties ;trackBy: trackId">
                <td><a [routerLink]="['/campaign-county-sales-ben', campaignCounty.id, 'view' ]">{{campaignCounty.id}}</a></td>
                <td>
                    <div *ngIf="campaignCounty.campaignId">
                        <a [routerLink]="['../campaign-sales-ben', campaignCounty.campaignId , 'view' ]" >{{campaignCounty.campaignId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignCounty.countyId">
                        <a [routerLink]="['../county-sales-ben', campaignCounty.countyId , 'view' ]" >{{campaignCounty.countyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campaign-county-sales-ben', campaignCounty.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign-county-sales-ben', campaignCounty.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campaign-county-sales-ben', { outlets: { popup: campaignCounty.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
