<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaignCounty">
            <h2><span>Campaign County</span> {{campaignCounty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Campaign</span></dt>
                <dd>
                    <div *ngIf="campaignCounty.campaignId">
                        <a [routerLink]="['/campaign-sales-ben', campaignCounty.campaignId, 'view']">{{campaignCounty.campaignId}}</a>
                    </div>
                </dd>
                <dt><span>County</span></dt>
                <dd>
                    <div *ngIf="campaignCounty.countyId">
                        <a [routerLink]="['/county-sales-ben', campaignCounty.countyId, 'view']">{{campaignCounty.countyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign-county-sales-ben', campaignCounty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
