<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaign">
            <h2><span>Campaign</span> {{campaign.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Campaign Name</span></dt>
                <dd>
                    <span>{{campaign.campaignName}}</span>
                </dd>
                <dt><span>From Date</span></dt>
                <dd>
                    <span>{{campaign.fromDate}}</span>
                </dd>
                <dt><span>To Date</span></dt>
                <dd>
                    <span>{{campaign.toDate}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{campaign.description}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{campaign.isActive}}</span>
                </dd>
                <dt><span>Supplier</span></dt>
                <dd>
                    <div *ngIf="campaign.supplierId">
                        <a [routerLink]="['/supplier-sales-ben', campaign.supplierId, 'view']">{{campaign.supplierId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign-sales-ben', campaign.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
