<div>
    <h2 id="page-heading">
        <span>Seller Wallets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-seller-wallet-sales-ben" [routerLink]="['/seller-wallet-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Seller Wallet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sellerWallets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Available Amount</span></th>
            <th><span>In Pending Amount</span></th>
            <th><span>Seller</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sellerWallet of sellerWallets ;trackBy: trackId">
                <td><a [routerLink]="['/seller-wallet-sales-ben', sellerWallet.id, 'view' ]">{{sellerWallet.id}}</a></td>
                <td>{{sellerWallet.availableAmount}}</td>
                <td>{{sellerWallet.inPendingAmount}}</td>
                <td>
                    <div *ngIf="sellerWallet.sellerId">
                        <a [routerLink]="['../seller-sales-ben', sellerWallet.sellerId , 'view' ]" >{{sellerWallet.sellerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/seller-wallet-sales-ben', sellerWallet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/seller-wallet-sales-ben', sellerWallet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'seller-wallet-sales-ben', { outlets: { popup: sellerWallet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
