<div>
    <h2 id="page-heading">
        <span>Seller Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-seller-transaction-sales-ben" [routerLink]="['/seller-transaction-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Seller Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sellerTransactions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="confirmed"><span>Confirmed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionDate"><span>Transaction Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="campaignProductId"><span>Campaign Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellerId"><span>Seller</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sellerTransaction of sellerTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/seller-transaction-sales-ben', sellerTransaction.id, 'view' ]">{{sellerTransaction.id}}</a></td>
                <td>{{sellerTransaction.confirmed}}</td>
                <td>{{sellerTransaction.amount}}</td>
                <td>{{sellerTransaction.transactionDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="sellerTransaction.campaignProductId">
                        <a [routerLink]="['../campaign-product-sales-ben', sellerTransaction.campaignProductId , 'view' ]" >{{sellerTransaction.campaignProductId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sellerTransaction.sellerId">
                        <a [routerLink]="['../seller-sales-ben', sellerTransaction.sellerId , 'view' ]" >{{sellerTransaction.sellerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/seller-transaction-sales-ben', sellerTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/seller-transaction-sales-ben', sellerTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'seller-transaction-sales-ben', { outlets: { popup: sellerTransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sellerTransactions && sellerTransactions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
