<div>
    <h2 id="page-heading">
        <span>Vanzatorii Campaniei</span>
    </h2>
    <div class="table-responsive" *ngIf="campaignSellers">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Nume</span></th>
                <th><span>Prenume</span></th>
                <th><span>Email</span></th>
                <th><span>Activ</span></th>
                <th><span>In Campanie</span></th>
                <th><span>Descriere</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignSeller of campaignSellers ;trackBy: trackId"
                [ngClass]="{'table-success':hasCampaign(campaignSeller)}">
                <td>{{campaignSeller.lastName}}</td>
                <td>{{campaignSeller.firstName}}</td>
                <td>{{campaignSeller.email}}</td>
                <td>
                    <input type="checkbox"
                           [disabled]="true"
                           [checked]="!campaignSeller.isActive"
                           class="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"
                           [disabled]="!campaignSeller.isInEditMode"
                           [checked]="hasCampaign(campaignSeller)"
                           (change)="addSellerInCampaign($event.target.checked, campaignSeller)"
                           class="checkbox"/>
                </td>
                <td>{{campaignSeller.description}}</td>
                <td>
                    <button *ngIf="!campaignSeller.isInEditMode" type="button"
                            class="btn btn-primary btn-sm" (click)="editCampaignSeller(campaignSeller)">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>
                    <button *ngIf="campaignSeller.isInEditMode" type="button"
                            class="btn btn-success btn-sm" (click)="saveCampaignSeller(campaignSeller)">
                        <fa-icon [icon]="'save'"></fa-icon>
                        <span class="d-none d-md-inline">Save</span>
                    </button>
                    <button *ngIf="campaignSeller.isInEditMode" type="button"
                            class="btn btn-danger btn-sm" (click)="cancelEditingCampaignSeller(campaignSeller)">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">Cancel</span>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignSellers && campaignSellers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div>
        <button type="button"
                [routerLink]="['/campaign', campaign.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Inapoi</span>
        </button>
    </div>
</div>
