<div>
    <h2 id="page-heading">
        <span>Campaign Cities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campaign-city-sales-ben" [routerLink]="['/campaign-city-sales-ben/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campaign City
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campaignCities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Camapign</span></th>
            <th><span>City</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignCity of campaignCities ;trackBy: trackId">
                <td><a [routerLink]="['/campaign-city-sales-ben', campaignCity.id, 'view' ]">{{campaignCity.id}}</a></td>
                <td>
                    <div *ngIf="campaignCity.camapignId">
                        <a [routerLink]="['../campaign-sales-ben', campaignCity.camapignId , 'view' ]" >{{campaignCity.camapignId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignCity.cityId">
                        <a [routerLink]="['../city-sales-ben', campaignCity.cityId , 'view' ]" >{{campaignCity.cityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campaign-city-sales-ben', campaignCity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign-city-sales-ben', campaignCity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campaign-city-sales-ben', { outlets: { popup: campaignCity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
