<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaignCity">
            <h2><span>Campaign City</span> {{campaignCity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Camapign</span></dt>
                <dd>
                    <div *ngIf="campaignCity.camapignId">
                        <a [routerLink]="['/campaign-sales-ben', campaignCity.camapignId, 'view']">{{campaignCity.camapignId}}</a>
                    </div>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <div *ngIf="campaignCity.cityId">
                        <a [routerLink]="['/city-sales-ben', campaignCity.cityId, 'view']">{{campaignCity.cityId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign-city-sales-ben', campaignCity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
