<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-seller-wallet-transaction-sales-ben-heading">Create or edit a Seller Wallet Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sellerWalletTransaction.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sellerWalletTransaction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="sellerWalletTransaction.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" name="transactionType" [(ngModel)]="sellerWalletTransaction.transactionType" id="field_transactionType" >
                        <option value="IN_PENDING">IN_PENDING</option>
                        <option value="IN_CONFIRMED">IN_CONFIRMED</option>
                        <option value="OUT_PENDING">OUT_PENDING</option>
                        <option value="OUT_CONFIRMED">OUT_CONFIRMED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionDate">Transaction Date</label>
                    <div class="d-flex">
                        <input id="field_transactionDate" type="datetime-local" class="form-control" name="transactionDate" [(ngModel)]="transactionDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sellerWallet">Seller Wallet</label>
                    <select class="form-control" id="field_sellerWallet" name="sellerWallet" [(ngModel)]="sellerWalletTransaction.sellerWalletId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sellerWalletOption.id" *ngFor="let sellerWalletOption of sellerwallets; trackBy: trackSellerWalletById">{{sellerWalletOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
